*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    margin: auto;
}
ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1rem;
}
nav{
    display: block;
    background-color: black;
    color: white;
    width: 100%;
    height: 3rem;
}

.img1{
    background-image: url(https://a0.muscache.com/im/picturesa2a5a728-98c4-4889-b713-41b8f862858e.jpg?im_w=1440);
    height: 40vh;
    width: 100vw;
    margin: 2vh 1vh 2vh 1vh;
}
